/* Estilos comunes */

.main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--color-background-white);
    z-index: 999;
}

.menu-icon {
    display: none;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
}

.nav-links {
    transform: translateX(0%);
}

.nav-links ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links ul li .nav-link {
    position: relative;
    color: var(--color-text-dark);
    font-size: 20px;
    font-weight: 600;
    transition: var(--transition-short);
}

.nav-links ul li .nav-link::before {
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 4px;
    background-color: var(--color-text-dark);
    content: '';
    transition: var(--transition-short);
}

.nav-links ul li .nav-link:hover::before {
    width: 100%;
    background-color: var(--color-primary);
}

.nav-links ul li .nav-link:hover {
    color: var(--color-primary);
}


/* Estilos para móvil */

@media screen and (max-width: 1024px) {
    .menu-btn-link {
        display: none;
    }

    .nav-links {
        position: fixed;
        top: 80px;
        bottom: 0;
        left: 0;
        display: flex;
        align-content: center;
        align-items: center;
        width: 250px;
        height: 100%;
        background-color: var(--color-background-white);
        z-index: 1000;
        transform: translateX(-101%);
        transition: var(--transition-medium);
    }

    .nav-links ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-links ul li {
        width: 100%;
        padding-left: 50px;
    }

    .logo-menu-container {
        display: flex;
        align-items: center;
        gap: 20px
    }

    .menu-icon {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 32px;
        height: 29px;
        padding: 0;
        background-color: transparent;
        overflow: visible;
    }

    .menu-icon__line {
        width: 32px;
        height: 4px;
        background-color: var(--color-text-dark);
        opacity: 1;
        transition: var(--transition-medium);
    }

    .menu-icon__line--rotate-one {
        transform: rotateZ(225deg) translateY(-6px) translateX(-8px);
    }

    .menu-icon__line--disappear {
        opacity: 0;
    }

    .menu-icon__line--rotate-three {
        transform: rotateZ(-225deg) translateY(6px) translateX(-8px);
    }

}