@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --color-primary: #1590ca;
  --color-secondary: #25599E;
  --color-text-white: #ffffff;
  --radius-main: 7px;
  --color-background-white: #ffffff;
  --color-text-dark: #181818;
  --transition-short: .3s ease;
  --transition-medium: .5s ease;
  --transition-long: 1s ease;
  --width-main: 1400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-dark);
}

h1 {
  font-size: 55px;
  line-height: 60px;
}

h2 {
  font-size: 40px;
  line-height: 45px;
}

h3 {
  font-size: 22px;
  line-height: 27px;
}

p {
  font-size: 16px;
  color: var(--color-text-dark);
}

a {
  text-decoration: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 30px;
}

.section-container {
  display: flex;
  width: var(--width-main);
}

.btn-link-container {
  overflow: hidden;
  border: 1px solid red;
}

.btn-link {
  position: relative;
  padding: 20px 45px;
  font-size: 18px;
  color: var(--color-text-white);
  text-decoration: none;
  background-color: var(--color-primary);
  border-radius: var(--radius-main);
  overflow: hidden;
}

.btn-link span {
  position: relative;
  z-index: 2;
}

.btn-link::before,
.btn-link::after {
  position: absolute;
  top: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background-color: var(--color-secondary);
  content: "";
  transition: var(--transition-long);
  opacity: 0;
  z-index: 1;
}

.btn-link::before {
  left: -35px;
}

.btn-link:hover::before {
  animation: btn-link-before 0.8s ease 1 forwards;
}

.btn-link::after {
  top: calc(50% - 20px);
  left: 100%;
  width: 30px;
  height: 30px;
}

.btn-link:hover::after {
  animation: btn-link-after 0.8s ease 1 forwards;
}

button {
  position: relative;
  padding: 20px 45px;
  font-size: 18px;
  color: var(--color-text-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--radius-main);
  overflow: hidden;
}

@keyframes btn-link-after {
  30% {
    top: calc(50% - 20px);
    left: 40%;
    width: 40px;
    height: 40px;
  }
  70% {
    top: calc(50% - 25px);
    left: 0px;
    width: 50px;
    height: 50px;
  }
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-main);
    opacity: 1;
  }
}
@keyframes btn-link-before {
  100% {
    top: calc(50% - 20px);
    left: 50px;
    width: 40px;
    height: 40px;
    opacity: 1;
  }
}
/*----------------------------------------*/
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 45px;
    line-height: 50px;
  }
  h2 {
    font-size: 35px;
    line-height: 40px;
  }
  h3 {
    font-size: 20px;
    line-height: 25px;
  }
}
.section-presentation {
  position: relative;
  height: 100vh;
  min-height: 750px;
  background-image: url("/assets/hero/presentation-image.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 50% 50%/0 0 40% 40%;
}
.section-presentation .background-changer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 0;
  transition: var(--transition-short);
  cursor: pointer;
  z-index: 3;
}
.section-presentation .background-changer img {
  width: 30px;
}
.section-presentation .background-changer:hover {
  background-color: var(--color-secondary);
}
.section-presentation .button-prev {
  left: 30px;
}
.section-presentation .button-prev img {
  transform: rotateZ(180deg);
}
.section-presentation .button-next {
  right: 30px;
}
.section-presentation .presentation-container {
  width: var(--width-main);
  z-index: 2;
}
.section-presentation .presentation-container .text-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section-presentation .presentation-container .text-container .headline,
.section-presentation .presentation-container .text-container .subheadline {
  width: 100%;
  color: var(--color-text-white);
}

.section-presentation::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 50% 50%/0 0 40% 40%;
  border-bottom: 20px solid var(--color-primary);
  background-color: rgba(37, 89, 158, 0.3568627451);
  backdrop-filter: blur(4px);
  z-index: 1;
}

/*------------------------------------------------*/
@media screen and (max-width: 1650px) {
  .section-presentation .presentation-container .text-container {
    padding-left: 90px;
  }
}
@media screen and (max-width: 1024px) {
  .section-presentation {
    border-radius: 0;
  }
  .section-presentation::before {
    border-radius: 0;
  }
}
@media screen and (max-width: 850px) {
  .section-presentation .presentation-container .text-container {
    padding-left: 0;
  }
  .section-presentation .background-changer {
    display: none;
  }
}
.topics-section .topics-section-container .topics-container {
  display: flex;
  gap: 20px;
  width: 100%;
}
.topics-section .topics-section-container .topics-container .topic-card-container {
  position: relative;
  width: 25%;
  height: 280px;
  perspective: 1000px;
  transition: var(--transition-long);
}
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s cubic-bezier(0.5, 1.3, 0.5, 1.3);
}
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card .topic-front,
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card .topic-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 15px;
  background-color: var(--color-primary);
  border-radius: var(--radius-main);
  backface-visibility: hidden;
  transition: var(--transition-long);
  transform-style: preserve-3d;
}
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card .topic-front img,
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card .topic-back img {
  width: 80px;
  transform: translateZ(50px);
}
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card .topic-front h3,
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card .topic-front p,
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card .topic-back h3,
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card .topic-back p {
  width: 100%;
  color: var(--color-text-white);
  text-align: center;
  transform: translateZ(50px);
}
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card .topic-front a.btn-link,
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card .topic-back a.btn-link {
  border: 1px solid var(--color-text-white);
  transform: translateZ(50px);
}
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card .topic-back {
  transform: rotateY(180deg);
  perspective: 1000px;
  transform-style: preserve-3d;
}
.topics-section .topics-section-container .topics-container .topic-card-container .topic-card .topic-back-rotate-x {
  transform: rotateY(180deg) rotateZ(180deg);
}
.topics-section .topics-section-container .topics-container .topic-card-container:hover .rotate-y-transition {
  transform: rotateY(180deg);
}
.topics-section .topics-section-container .topics-container .topic-card-container:hover .rotate-x-transition {
  transform: rotateX(180deg);
}

/* Media Queries -----------------------------*/
@media screen and (max-width: 1310px) {
  .topics-section .topics-section-container .topics-container .topic-card-container {
    height: 340px;
  }
}
@media screen and (max-width: 1100px) {
  .topics-section .topics-section-container .topics-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .topics-section .topics-section-container .topics-container .topic-card-container {
    width: 33.333%;
    min-width: 320px;
    height: 280px;
  }
}
@media screen and (max-width: 550px) {
  .topics-section .topics-section-container .topics-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .topics-section .topics-section-container .topics-container .topic-card-container {
    width: 100%;
  }
}
.benefits-section {
  padding: 0 30px 100px 30px;
}
.benefits-section__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.benefits-section__container .benefits-section__image-container {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 45%;
  overflow: hidden;
}
.benefits-section__container .benefits-section__image-container .benefits-section__image {
  width: 100%;
  animation: infinite-rotate 20s linear infinite;
}
.benefits-section__container .benefits-section__content {
  width: 55%;
}
.benefits-section__container .benefits-section__content .benefits-section__text-container p.benefits-section__description {
  padding-top: 20px;
}
.benefits-section__container .benefits-section__cards-container {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.benefits-section__container .benefits-section__cards-container .benefits-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 1;
  gap: 15px;
  width: 100%;
  padding: 20px;
  border-radius: var(--radius-main);
  text-align: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.benefits-section__container .benefits-section__cards-container .benefits-card .benefits-card__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: var(--radius-main);
  background-color: var(--color-primary);
  transition: var(--transition-medium);
  z-index: 2;
}
.benefits-section__container .benefits-section__cards-container .benefits-card .benefits-card__image-container img {
  width: 60px;
  transition: var(--transition-medium);
}
.benefits-section__container .benefits-section__cards-container .benefits-card h3,
.benefits-section__container .benefits-section__cards-container .benefits-card p {
  width: 100%;
  transition: var(--transition-medium);
  z-index: 2;
}
.benefits-section__container .benefits-section__cards-container .benefits-card .btn-link {
  border: 1px solid var(--color-primary);
  transition: var(--transition-medium);
  z-index: 2;
}
.benefits-section__container .benefits-section__cards-container .benefits-card:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: var(--radius-main);
  transition: var(--transition-medium);
  z-index: 1;
}
.benefits-section__container .benefits-section__cards-container .benefits-card:hover:before {
  width: 100%;
}
.benefits-section__container .benefits-section__cards-container .benefits-card:hover .btn-link {
  border: 1px solid white;
}
.benefits-section__container .benefits-section__cards-container .benefits-card:hover .benefits-card__image-container {
  background-color: var(--color-secondary);
  transform: rotateZ(-90deg);
}
.benefits-section__container .benefits-section__cards-container .benefits-card:hover .benefits-card__image {
  transform: rotateZ(90deg);
}
.benefits-section__container .benefits-section__cards-container .benefits-card:hover h3,
.benefits-section__container .benefits-section__cards-container .benefits-card:hover p {
  color: var(--color-text-white);
}
.benefits-section__container .benefits-btn-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

@keyframes infinite-rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
/* Media Queries -----------------------------*/
@media screen and (max-width: 980px) {
  .benefits-section__container {
    justify-content: center;
    flex-wrap: wrap;
  }
  .benefits-section__container .benefits-section__image-container {
    width: 100%;
  }
  .benefits-section__container .benefits-section__content {
    width: 100%;
  }
  .benefits-section__container .benefits-section__content h2,
  .benefits-section__container .benefits-section__content p {
    text-align: center;
  }
}
@media screen and (max-width: 680px) {
  .benefits-section {
    padding-bottom: 0;
  }
  .benefits-section__container .benefits-section__content .benefits-section__cards-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefits-section__container .benefits-section__content .benefits-section__cards-container .benefits-card {
    width: 100%;
    min-width: 300px;
    max-width: 450px;
  }
}
.latest-entries-frontend,
.latest-entries-arduino {
  flex-wrap: wrap;
  padding: 100px 0;
}
.latest-entries-frontend .latest-entries-frontend__top-decoration,
.latest-entries-frontend .latest-entries-arduino__top-decoration,
.latest-entries-arduino .latest-entries-frontend__top-decoration,
.latest-entries-arduino .latest-entries-arduino__top-decoration {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0 100px 0;
  background-color: var(--color-primary);
}
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container {
  display: flex;
  justify-content: space-between;
  width: var(--width-main);
  margin: 0 30px;
}
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__header h2,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__header p,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__header h2,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__header p,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__header h2,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__header p,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__header h2,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__header p,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__header h2,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__header p,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__header h2,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__header p,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__header h2,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__header p,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__header h2,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__header p,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__header h2,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__header p,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__header h2,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__header p,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__header h2,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__header p,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__header h2,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__header p,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__header h2,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__header p,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__header h2,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__header p,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__header h2,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__header p,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__header h2,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__header p {
  color: var(--color-text-white);
}
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__button-container,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__button-container,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__button-container,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__button-container,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__button-container,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__button-container,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__button-container,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__button-container,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__button-container,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__button-container,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__button-container,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__button-container,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__button-container,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__button-container,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__button-container,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__button-container {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__button-container .btn-link,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__button-container .btn-link,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__button-container .btn-link,
.latest-entries-frontend .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__button-container .btn-link,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__button-container .btn-link,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__button-container .btn-link,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__button-container .btn-link,
.latest-entries-frontend .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__button-container .btn-link,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__button-container .btn-link,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__button-container .btn-link,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__button-container .btn-link,
.latest-entries-arduino .latest-entries-frontend__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__button-container .btn-link,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-frontend__button-container .btn-link,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-frontend__text-container .latest-entries-arduino__button-container .btn-link,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-frontend__button-container .btn-link,
.latest-entries-arduino .latest-entries-arduino__top-decoration .latest-entries-arduino__text-container .latest-entries-arduino__button-container .btn-link {
  border: 1px solid var(--color-text-white);
}
.latest-entries-frontend .latest-entries-frontend__container,
.latest-entries-frontend .latest-entries-arduino__container,
.latest-entries-arduino .latest-entries-frontend__container,
.latest-entries-arduino .latest-entries-arduino__container {
  margin: -70px 30px 0 30px;
}
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-frontend__cards-container,
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-arduino__cards-container,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-frontend__cards-container,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-arduino__cards-container,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-frontend__cards-container,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-arduino__cards-container,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-frontend__cards-container,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-arduino__cards-container {
  display: flex;
  gap: 20px;
  width: 100%;
}
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card,
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card {
  position: relative;
  flex: 1 0 22%;
  height: 500px;
  border-radius: var(--radius-main);
}
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__image-container,
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__image-container,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__image-container,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__image-container,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__image-container,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__image-container,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__image-container,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__image-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--radius-main);
}
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__image-container img,
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__image-container img,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__image-container img,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__image-container img,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__image-container img,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__image-container img,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__image-container img,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: var(--radius-main);
}
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position,
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: 170px;
  padding: 20px 0;
  border-radius: 0 0 var(--radius-main) var(--radius-main);
  background-color: var(--color-primary);
  box-shadow: 0 -15px 0 rgba(21, 144, 202, 0.4);
  transition: var(--transition-medium);
  overflow: hidden;
}
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container,
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container {
  width: 80px;
}
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container img,
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container img,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container img,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container img,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container img,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container img,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container img,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__icon-container img {
  width: 100%;
}
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position h3,
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position h3,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position h3,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position h3,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position h3,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position h3,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position h3,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position h3 {
  width: 100%;
  text-align: center;
  color: var(--color-text-white);
}
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container,
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0;
  transition: var(--transition-medium);
}
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container .btn-link,
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container .btn-link,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container .btn-link,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container .btn-link,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container .btn-link,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container .btn-link,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container .btn-link,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card .entry-card__bottom-position .entry-card__button-container .btn-link {
  border: 1px solid var(--color-text-white);
}
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card:hover .entry-card__bottom-position,
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card:hover .entry-card__bottom-position,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card:hover .entry-card__bottom-position,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card:hover .entry-card__bottom-position,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card:hover .entry-card__bottom-position,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card:hover .entry-card__bottom-position,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card:hover .entry-card__bottom-position,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card:hover .entry-card__bottom-position {
  height: 255px;
  box-shadow: 0 -22px 0 rgba(21, 144, 202, 0.4);
  overflow: visible;
}
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card:hover .entry-card__bottom-position .entry-card__button-container,
.latest-entries-frontend .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card:hover .entry-card__bottom-position .entry-card__button-container,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card:hover .entry-card__bottom-position .entry-card__button-container,
.latest-entries-frontend .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card:hover .entry-card__bottom-position .entry-card__button-container,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-frontend__cards-container .entry-card:hover .entry-card__bottom-position .entry-card__button-container,
.latest-entries-arduino .latest-entries-frontend__container .latest-entries-arduino__cards-container .entry-card:hover .entry-card__bottom-position .entry-card__button-container,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-frontend__cards-container .entry-card:hover .entry-card__bottom-position .entry-card__button-container,
.latest-entries-arduino .latest-entries-arduino__container .latest-entries-arduino__cards-container .entry-card:hover .entry-card__bottom-position .entry-card__button-container {
  display: flex;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
