* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) var(--color-background-white);
}

:root {
    --color-primary: #1590ca;
    --color-primary-half: #1591ca8c;

    --color-secondary: #25599E;
    --color-secondary-half: #25599e8a;

    --color-text-white: #ffffff;
    --color-text-dark: #181818;
    --color-text-medium: #606060;
    --color-text-placeholder: #777777d2;

    --radius-main: 7px;

    --color-background-white: #ffffff;
    --color-background-light: #FBFBFB;
    --color-background-snippet: #F5F2F0;
    

    --transition-short: .3s ease;
    --transition-medium: .5s ease;
    --transition-long: 1s ease;

    --width-main: 1400px;

    --entries-h2-pad-top: 40px;
    --entries-p-pad-top: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text-dark);
}

h1 {
    font-size: 55px;
    line-height: 60px;
}

h2 {
    font-size: 40px;
    line-height: 45px;
}

h3 {
    font-size: 22px;
    line-height: 27px;
}

p {
    font-size: 18px;
    color: var(--color-text-medium);
}

span.skill-counter {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-primary);
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-track {
    background: var(--color-background-white);
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
}

.section-container {
    display: flex;
    justify-content: center;
    width: var(--width-main);
}

.btn-link-container {
    display: flex;
}

.btn-link {
    position: relative;
    padding: 20px 45px;
    font-size: 18px;
    color: var(--color-text-white);
    text-decoration: none;
    background-color: var(--color-primary);
    border-radius: var(--radius-main);
    overflow: hidden;
}

.btn-link span {
    position: relative;
    z-index: 2;
}

.btn-link::before,
.btn-link::after {
    position: absolute;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background-color: var(--color-secondary);
    content: '';
    transition: var(--transition-long);
    opacity: 0;
    z-index: 1;
}

.btn-link::before {
    left: -35px;
}

.btn-link:hover::before {
    animation: btn-link-before .8s ease 1 forwards;
}

.btn-link::after {
    top: calc(50% - 20px);
    left: 100%;
    width: 30px;
    height: 30px;
}

.btn-link:hover::after {
    animation: btn-link-after .8s ease 1 forwards;
}

button {
    position: relative;
    padding: 20px 45px;
    font-size: 18px;
    color: var(--color-text-white);
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--radius-main);
    overflow: hidden;
}

@keyframes btn-link-after {
    30% {
        top: calc(50% - 20px);
        left: 40%;
        width: 40px;
        height: 40px;
    }

    70% {
        top: calc(50% - 25px);
        left: 0px;
        width: 50px;
        height: 50px;

    }

    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--radius-main);
        opacity: 1;
    }

}

@keyframes btn-link-before {
    100% {
        top: calc(50% - 20px);
        left: 50px;
        width: 40px;
        height: 40px;
        opacity: 1;
    }
}



/* Header de PAGINAS ----------------------*/

.header-section {
    position: relative;
    height: 400px;
    background-image: url(/assets/global/global-header-aprendecode.webp);
    background-size: cover;
    background-position: left center;

    .header-container {
        justify-content: center;
        padding-top: 70px;
        z-index: 2;

        .header-title {
            max-width: 1200px;
            color: var(--color-text-white);
            text-align: center;
            font-size: 48px;
        }
    }
}

.header-section::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: var(--color-secondary-half);
    z-index: 1;
    backdrop-filter: blur(2px);
}

/*----------------------------------------*/

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 45px;
        line-height: 50px;
    }

    h2 {
        font-size: 35px;
        line-height: 40px;
    }

    h3 {
        font-size: 20px;
        line-height: 25px;
    }

    span.skill-counter {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px){
    section {
        padding: 50px 20px;
    }
}