.latest-entries-frontend,
.latest-entries-arduino {
    flex-wrap: wrap;
    padding: 100px 0;

    .latest-entries-frontend__top-decoration,
    .latest-entries-arduino__top-decoration {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 40px 0 100px 0;
        background-color: var(--color-primary);

        .latest-entries-frontend__text-container,
        .latest-entries-arduino__text-container {
            display: flex;
            justify-content: space-between;

            width: var(--width-main);
            margin: 0 30px;

            .latest-entries-frontend__header,
            .latest-entries-arduino__header {

                h2,
                p {
                    color: var(--color-text-white);
                }

                p{
                    max-width: 850px;
                    padding-right: 20px;
                    text-indent: 15px;
                }
            }

            .latest-entries-frontend__button-container,
            .latest-entries-arduino__button-container {
                display: flex;
                align-content: flex-start;
                align-items: center;
                min-width: 171px;

                .btn-link {
                    flex: none;
                    border: 1px solid var(--color-text-white);
                }
            }
        }
    }

    .latest-entries-frontend__container,
    .latest-entries-arduino__container {
        margin: -70px 30px 0 30px;

        .latest-entries-frontend__cards-container,
        .latest-entries-arduino__cards-container {
            display: flex;
            gap: 20px;
            width: 100%;

            .card {
                display: flex;
                justify-content: center;
                align-content: space-between;
                flex-wrap: wrap;
                width: 33.333%;
                gap: 20px;
                border-radius: var(--radius-main);
                transition: var(--transition-short);

                .card__image-container,
                .card__title,
                .card__description,
                .btn-link-container {
                    width: 100%;
                    text-align: center;
                }

                .card__image-container {
                    img {
                        width: 100%;
                        filter: brightness(0.8);
                        border-radius: var(--radius-main);
                        transition: var(--transition-short);
                    }
                }


                .btn-link-container {
                    justify-content: center;
                    padding-top: 25px;
                    border-top: 2px solid var(--color-primary);
                }
            }

            .card:hover{
                .card__image-container {
                    img {
                        filter: brightness(1);
                    }
                }
            }

        }
    }
}


/* Media Queries ---------------------------*/
@media screen and (max-width: 1250px) {

    .latest-entries-frontend,
    .latest-entries-arduino {

        .latest-entries-frontend__container,
        .latest-entries-arduino__container {

            .latest-entries-frontend__cards-container,
            .latest-entries-arduino__cards-container {
                flex-wrap: wrap;
                justify-content: center;

                .card {
                    flex: none;
                    width: calc(50% - 10px);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .latest-entries-frontend,
    .latest-entries-arduino {

        .latest-entries-frontend__top-decoration,
        .latest-entries-arduino__top-decoration {

            .latest-entries-frontend__text-container,
            .latest-entries-arduino__text-container {
            flex-wrap: wrap;
            gap: 30px;


                .latest-entries-frontend__header,
                .latest-entries-arduino__header {
                    width: 100%;
                    text-align: center;

                    p{
                        text-indent: 0;
                        padding-top: 15px;
                    }
                }

                .latest-entries-frontend__button-container,
                .latest-entries-arduino__button-container {
                    justify-content: center;
                    width: 100%;

                }
            }
        }
    }
}

@media screen and (max-width: 700px) {

    .latest-entries-frontend,
    .latest-entries-arduino {

        .latest-entries-frontend__container,
        .latest-entries-arduino__container {

            .latest-entries-frontend__cards-container,
            .latest-entries-arduino__cards-container {
                .card {
                    width: 100%;
                }
            }
        }
    }
}