
.header-section {
    position: relative;
    height: 400px;
    background-image: url(/assets/global/global-header-aprendecode.jpg);
    background-size: cover;
    background-position: left center;

    .header-container {
        justify-content: center;
        padding-top: 70px;
        z-index: 2;

        .header-title {
            color: var(--color-text-white);
        }
    }
}

.header-section::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: var(--color-secondary-half);
    z-index: 1;
}